label{
    float: left;
    text-align: right;
    width: 45%;
    font-size: 12px;
    padding-top: 3px;
    padding-right: 3px;
}

input, textarea, select{
    width: 50%;
    font-size: 15px;
    margin-bottom: 5px;
    border: 2px solid #CCC;
}
